<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="/">Home</a>
          <a class="nav-link" href="/listing">all listing</a>
          <a class="nav-link" href="/listing/new">add new listing</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(isLogin){%>
          <a class="nav-link" href="/auth/logout">Logout</a>
          <% } %>
          <% if(!isLogin){%>
          <a class="nav-link "  href="/auth/login">Login</a>
          <a class="nav-link" href="/auth/register">Register</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>