body{
   font-family: sans-serif;
   color: rgb(0, 0, 0) !important;
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 4.5rem;
    color: white !important;
    color: black !important;
}
.fa-compass{
    color: rgb(192, 9, 9);
}
.nav-link:hover{
    color: rgb(0, 0, 0) !important;
}

.f-info-links a{
    text-decoration: none;
    color: rgb(43, 41, 41);
}
.f-info-links a:hover{
    text-decoration: underline;
    color: rgb(11, 10, 10);
}
.f-info{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    height: 8rem;
    align-items: center;
    justify-content: center;
}



.f-info-socials i{
    font-size: 1.2rem;
    color: rgb(43, 41, 41);
    margin-right: 1rem;
}

.f-info-brand,.f-info-socials,.f-info-links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    margin-left: 50%;
}
.f-info-brand{
    margin-left: 47%;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.sa{
    border: 0.5px solid rgb(101, 87, 87) !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100%;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    color: black !important;
}
.btn{
    background-color: red !important;
    border: none !important;
}

/* showImage */
.showImage{
    height: 30vh;
}

.show-cards{
    padding-left: 0;
    padding-right: 0;
}
.setWidth{
    width: 80px;
}