<% layout('/layout/boilerplate') -%>
<form method="POST" action="/auth/login"">
    <h2 class="col-md-6 offset-3 mb-3 mt-3">Login</h2>
    <div class="col-md-6 offset-3" class="needs-validation" novalidate>
        <label for="username" class="form-lable">username</label>
        <input type="text" name="username" class="form-control login" required>
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please enter a correct title.</div>
    </div>
    <div class="col-md-6 offset-3 mb-3 mt-3">
        <label for="password" class="form-lable">password</label>
        <input type="password" name="password" class="form-control" required>
        <div class="valid-feedback">Title Looks good!</div>
        <div class="invalid-feedback">Please enter a correct title.</div>
    </div>
    <button class="btn btn-success  offset-3 mt-3 setWidth getIt">LogIn</button>
</form>
<a href="/auth/register"><button class="btn btn-success  offset-3 mt-3 setWidth">Register</button></a>